@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  color: #f2f2f2;
  background-color: #03001E;
  overflow-x: hidden;
  font-family: 'Nunito', sans-serif;
}

a {
  all: unset;
  color: #f2f2f2;
  cursor: pointer;
}

ul, li {
  all: unset;
}

@media (min-width: 0px) and (max-width: 900px) {
  #menu-btn, #logo, #logoName, #skills-img, #about-img, #about-img-2, #contact-img {
    display: none;
  }
  h2 {
    font-size: 6rem;
  }
  h3 {
    font-size: 3rem;
  }
  p, a {
    font-size: 2rem;
  }
  nav {
    z-index: 50;
    background-color: #424056;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    -webkit-animation: nav-load 600ms ease-in-out;
    animation: nav-load 600ms ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 40px;
  }
  nav ul li a:not(:first-of-type) {
    display: none;
  }
  @-webkit-keyframes nav-load {
    0% {
      -webkit-transform: translateY(100%);
              transform: translateY(100%);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes nav-load {
    0% {
      -webkit-transform: translateY(100%);
              transform: translateY(100%);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  .home {
    height: 100vh;
    position: relative;
  }
  .home #name {
    font-size: 4rem;
  }
  .home .home-content {
    opacity: 0;
    -webkit-animation: home-load 600ms ease-in-out;
    animation: home-load 600ms ease-in-out forwards;
    -webkit-animation-delay: 600ms;
    animation-delay: 600ms;
    margin: 6rem 4rem;
  }
  .home .home-content p:first-of-type {
    opacity: 50%;
  }
  .home .home-content a {
    text-decoration: underline;
  }
  .home img {
    opacity: 0;
    max-width: 35rem;
    max-height: 29rem;
    position: absolute;
    bottom: 10rem;
    right: 0;
    -webkit-animation: home-load 600ms ease-in-out forwards;
    animation: home-load 600ms ease-in-out forwards;
    -webkit-animation-delay: 900ms;
    animation-delay: 900ms;
  }
  @-webkit-keyframes home-load {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes home-load {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .info-boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3rem;
  }
  .info-boxes .info-box {
    padding: 0.5rem 1rem;
    width: 35rem;
    height: 17rem;
    background-color: #424056;
    border-radius: 15px;
    text-align: center;
  }
  .info-boxes .info-box-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .info-boxes .info-box-title h3 {
    margin-left: 1rem;
  }
  .fade-in {
    -webkit-transition: 600ms ease-in-out;
    transition: 600ms ease-in-out;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  .fade-out {
    -webkit-transition: 600ms ease-in-out;
    transition: 600ms ease-in-out;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  .skills {
    height: 80rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .skills h2 {
    text-align: center;
  }
  .projects {
    height: 90rem;
  }
  .projects h2, .projects p {
    text-align: center;
  }
  .projects-project, .projects .project-box-content, .projects .project-box-content-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 2rem;
  }
  .projects-project p, .projects .project-box-content p, .projects .project-box-content-2 p {
    padding: 0 1rem;
    width: 50%;
  }
  .projects-project a, .projects .project-box-content a, .projects .project-box-content-2 a {
    text-decoration: underline;
  }
  .projects-project img, .projects .project-box-content img, .projects .project-box-content-2 img {
    width: 30rem;
    height: 17rem;
    margin-top: 1rem;
    border-radius: 15px;
  }
  .about {
    height: 100rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about h2 {
    text-align: center;
  }
  .contact {
    height: 90rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #4748EE;
  }
  .contact-box {
    height: 70rem;
    width: 30rem;
    background-color: #2f3542;
    border-radius: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1.5rem;
  }
  .contact-box form label {
    font-size: 2.5rem;
    display: block;
  }
  .contact-box form input[type=text], .contact-box form input[type=email] {
    outline: none;
    width: 100%;
    height: 4.5rem;
    border: none;
    background-color: #F4F6FC;
    border-radius: 30px;
    -webkit-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
            box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    color: #03001E;
  }
  .contact-box form textarea {
    outline: none;
    width: 100%;
    height: 13rem;
    resize: none;
    border: none;
    border-radius: 30px;
    padding: 1rem;
    -webkit-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
            box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
    color: #03001E;
  }
  .contact-box form input[type=submit] {
    width: 100%;
    border: none;
    margin-top: 2rem;
    height: 4rem;
    border-radius: 30px;
    background-color: #4748EE;
    color: #f2f2f2;
    cursor: pointer;
    -webkit-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
  }
  .contact-box form input[type=submit]:active {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  .contact-links {
    gap: 1rem;
    margin-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .contact-links a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: #F4F6FC;
    border-radius: 57px;
    padding: 2.5rem;
    -webkit-box-shadow: 0 80px 100px rgba(0, 0, 0, 0.07), 0 33px 41px rgba(0, 0, 0, 0.05), 0 18px 22px rgba(0, 0, 0, 0.04), 0 12px 10px rgba(0, 0, 0, 0.035), 0 5px 7px rgba(0, 0, 0, 0.028), 2px 3px rgba(0, 0, 0, 0.02);
            box-shadow: 0 80px 100px rgba(0, 0, 0, 0.07), 0 33px 41px rgba(0, 0, 0, 0.05), 0 18px 22px rgba(0, 0, 0, 0.04), 0 12px 10px rgba(0, 0, 0, 0.035), 0 5px 7px rgba(0, 0, 0, 0.028), 2px 3px rgba(0, 0, 0, 0.02);
  }
  .contact-links a img {
    width: 4rem;
    height: 4rem;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .home img {
    max-width: 55rem;
    max-height: 49rem;
  }
  .projects-project img {
    width: 33rem;
    height: 20rem;
  }
  .contact-box {
    height: 70rem;
    width: 50rem;
  }
  .contact-links a {
    padding: 3.5rem;
  }
  .contact-links a img {
    width: 6rem;
    height: 6rem;
  }
  .info-boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3rem;
  }
  .info-boxes .info-box {
    padding: 0.5rem 1rem;
    width: 35rem;
    height: 17rem;
    background-color: #424056;
    border-radius: 15px;
    text-align: center;
  }
  .info-boxes .info-box-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .info-boxes .info-box-title h3 {
    margin-left: 1rem;
  }
}

@media (min-width: 900px) {
  h2 {
    font-size: 6rem;
  }
  h3 {
    font-size: 3.5rem;
  }
  p, a {
    font-size: 2.5rem;
  }
  nav {
    -webkit-transition: 600ms ease-in-out;
    transition: 600ms ease-in-out;
    z-index: 50;
    background-color: #424056;
    position: fixed;
    top: 0;
    left: 0;
    width: 10rem;
    height: 100%;
    -webkit-animation: nav-load 600ms ease-in-out;
    animation: nav-load 600ms ease-in-out;
    overflow-x: hidden;
  }
  nav #logo {
    width: 8rem;
    height: 8rem;
    margin-left: 1.3rem;
  }
  nav ul {
    margin-left: 2.5rem;
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3rem;
  }
  nav li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav li a:not(:first-of-type) {
    margin-left: 2.5rem;
    white-space: nowrap;
  }
  nav #nav-name {
    margin-left: 0.6rem;
  }
  nav.nav-open {
    width: 30rem;
  }
  @-webkit-keyframes nav-load {
    0% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @keyframes nav-load {
    0% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  .menu-btn {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 2rem;
    margin-left: 2.5rem;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  .menu-btn-burger {
    width: 50px;
    height: 6px;
    background: #f2f2f2;
    border-radius: 5px;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  .menu-btn-burger::before,
  .menu-btn-burger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: #f2f2f2;
    border-radius: 5px;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  .menu-btn-burger::before {
    -webkit-transform: translateY(-16px);
            transform: translateY(-16px);
  }
  .menu-btn-burger::after {
    -webkit-transform: translateY(16px);
            transform: translateY(16px);
  }
  /* ANIMATION */
  .menu-btn.open .menu-btn-burger {
    background: transparent;
  }
  .menu-btn.open .menu-btn-burger::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .menu-btn.open .menu-btn-burger::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .home {
    margin-left: 10rem;
    height: 100vh;
    position: relative;
  }
  .home #name {
    font-size: 6rem;
    z-index: 1;
  }
  .home .home-content {
    opacity: 0;
    -webkit-animation: home-load 600ms ease-in-out;
    animation: home-load 600ms ease-in-out forwards;
    -webkit-animation-delay: 600ms;
    animation-delay: 600ms;
    margin-left: 15rem;
    padding-top: 10rem;
  }
  .home .home-content p:first-of-type {
    opacity: 50%;
  }
  .home .home-content a {
    text-decoration: underline;
  }
  .home img {
    opacity: 0;
    max-width: 65rem;
    max-height: 59rem;
    position: absolute;
    bottom: 0;
    right: 0;
    -webkit-animation: home-load 600ms ease-in-out forwards;
    animation: home-load 600ms ease-in-out forwards;
    -webkit-animation-delay: 900ms;
    animation-delay: 900ms;
    z-index: -1;
  }
  @-webkit-keyframes home-load {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes home-load {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .info-boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3rem;
  }
  .info-boxes .info-box {
    padding: 0.5rem 1rem;
    width: 50rem;
    height: 20rem;
    background-color: #424056;
    border-radius: 15px;
    text-align: center;
  }
  .info-boxes .info-box-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .info-boxes .info-box-title h3 {
    margin-left: 1rem;
  }
  .fade-in {
    -webkit-transition: 600ms ease-in-out;
    transition: 600ms ease-in-out;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  .fade-out {
    -webkit-transition: 600ms ease-in-out;
    transition: 600ms ease-in-out;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  .skills {
    position: relative;
    margin: 0 10rem;
    margin-top: 10rem;
    height: 90rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .skills h2 {
    text-align: center;
  }
  .skills #my-skills {
    position: absolute;
    left: 15%;
  }
  .skills .skills-boxes {
    margin-top: 10rem;
  }
  .skills #skills-img {
    position: absolute;
    left: 0;
    top: 25%;
    z-index: -1;
  }
  .projects {
    margin-left: 10rem;
    height: 90rem;
  }
  .projects h2, .projects p {
    text-align: center;
  }
  .projects-project {
    margin-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projects-project img {
    max-width: 55rem;
    max-height: 29rem;
    margin-top: 1rem;
    border-radius: 15px;
  }
  .projects .project-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .projects .project-box-2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .projects .project-box-content, .projects .project-box-content-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 2rem;
  }
  .projects .project-box-content p, .projects .project-box-content-2 p {
    padding: 0 1rem;
    width: 50rem;
  }
  .projects .project-box-content a, .projects .project-box-content-2 a {
    text-decoration: underline;
  }
  .about {
    height: 100rem;
    position: relative;
    margin: 0 10rem;
    margin-top: 10rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .about h2 {
    text-align: center;
  }
  .about #about-me {
    position: absolute;
    right: 15%;
  }
  .about .about-boxes {
    margin-top: 10rem;
    margin-left: 5rem;
  }
  .about #about-img {
    position: absolute;
    right: 0;
    bottom: -5rem;
    z-index: -1;
  }
  .about #about-img-2 {
    position: absolute;
    right: 5%;
    top: 0;
    z-index: -1;
  }
  .contact {
    margin-top: 10rem;
    margin-left: 10rem;
    height: 80rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #4748EE;
  }
  .contact-box {
    overflow-x: hidden;
    position: relative;
    height: 60rem;
    width: 70%;
    background-color: #2f3542;
    border-radius: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1.5rem;
  }
  .contact-box #contact-img {
    max-width: 57.5rem;
    max-height: 38rem;
    position: absolute;
    right: -5.6rem;
    bottom: 15%;
    z-index: -1;
  }
  .contact-box form label {
    font-size: 2.5rem;
    display: block;
  }
  .contact-box form input[type=text], .contact-box form input[type=email] {
    outline: none;
    width: 50%;
    height: 4.5rem;
    border: none;
    background-color: #F4F6FC;
    border-radius: 30px;
    -webkit-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
            box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    color: #03001E;
  }
  .contact-box form textarea {
    outline: none;
    width: 50%;
    height: 13rem;
    resize: none;
    border: none;
    border-radius: 30px;
    padding: 1rem;
    -webkit-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
            box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
    color: #03001E;
  }
  .contact-box form input[type=submit] {
    width: 50%;
    border: none;
    margin-top: 2rem;
    height: 4rem;
    border-radius: 30px;
    background-color: #4748EE;
    color: #f2f2f2;
    cursor: pointer;
    -webkit-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
  }
  .contact-box form input[type=submit]:active {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  .contact-links {
    gap: 1rem;
    margin-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    position: absolute;
    right: 2%;
    bottom: 5%;
  }
  .contact-links a {
    z-index: -1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: #F4F6FC;
    border-radius: 57px;
    padding: 2.5rem;
    -webkit-box-shadow: 0 80px 100px rgba(0, 0, 0, 0.07), 0 33px 41px rgba(0, 0, 0, 0.05), 0 18px 22px rgba(0, 0, 0, 0.04), 0 12px 10px rgba(0, 0, 0, 0.035), 0 5px 7px rgba(0, 0, 0, 0.028), 2px 3px rgba(0, 0, 0, 0.02);
            box-shadow: 0 80px 100px rgba(0, 0, 0, 0.07), 0 33px 41px rgba(0, 0, 0, 0.05), 0 18px 22px rgba(0, 0, 0, 0.04), 0 12px 10px rgba(0, 0, 0, 0.035), 0 5px 7px rgba(0, 0, 0, 0.028), 2px 3px rgba(0, 0, 0, 0.02);
  }
  .contact-links a img {
    width: 5rem;
    height: 5rem;
  }
}
/*# sourceMappingURL=main.css.map */